
.navbar-light {
    box-shadow: 0 0 50px black;
    background-color: white;
}


.head {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 17rem 20rem 10rem 20rem;
    box-shadow: 0 0 50px black inset;
}

.bg2 {
    background-image: url(../img/background2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14rem 20rem 10rem 20rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 50px black inset;
}

h1 {
    font-size: 3.5rem;
    padding: 0;
    color: white;
    text-shadow:2px 2px 10px black;
}

.beer-img {
    width : 150px;
    height : 150px;
}

.no-border {
    border: 0;
    box-shadow: 0 0 20px grey;
}

.btn {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px grey;
    background-color: rgb(209, 56, 17);
    color: white;
    
   
}

.btn:hover {
    background-color: rgb(187, 52, 19);
    color: white;
    
}

#submit {
    font-size: 1.2rem;
    padding: 0.8rem;
    text-transform: uppercase;
    box-shadow: 2px 2px 10px grey;
    margin-bottom: 5rem;
}

.list-group {
    margin-top : 7rem;
}

.img-fluid {
    margin-top : 2rem;
}

#logo {
    width: 50px;
    margin-right: 1rem;
}

.card-body {
    border-top: 1px solid lightgrey;
    margin-top: 1rem;
}

label {
    margin: 0.5rem;
}

input {
    margin-bottom: 0.5rem;
}